@{
    ViewBag.Title = "Home Page";
}
<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <button id="testButton">Click me</button> to demonstrate retrieving language resource via JS.
            </p>
        </div>
    </section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#testButton').click(
               function () {
                   alert(Code52.Language.Dictionary.Demonstration_Alert);
                   return false;
               }
            );
    });        

</script>
