@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<p>
    <button id="testButton">Click me</button> to demonstrate retrieving language resource via JS.
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $('#testButton').click(
            function () {
                alert(Code52.Language.Dictionary.Demonstration_Alert);
                return false;
            }
        );
    });        
</script>
